<section class="mb-20 sm:mb-28 w-[min(100%,38rem)] text-center">
  <h2 class="text-3xl font-medium capitalize mb-8">Contact Me</h2>
  <p class="text-gray-700 -mt-6 dark:text-white/80">
    Please contact me directly at
    <a class="underline" href="mailto:666talhatahir@gmail.com">
      666talhatahir&#64;gmail.com
    </a>
    or through this form.
  </p>

  <form
    [formGroup]="contactForm"
    (ngSubmit)="send()"
    class="mt-10 flex flex-col"
  >
    <!-- Name -->
    <input id="name" autocomplete="on"
      formControlName="name"
      placeholder="Your Name"
      class="h-14 px-4 rounded-lg mb-2 borderBlack bg-white dark:bg-gray-800 dark:text-white dark:placeholder-gray-400 focus:outline-none focus:ring-2 transition-all"
    />
    @if (name?.touched && name?.errors?.['required']) {
    <div class="text-red-600 dark:text-red-200 text-left text-sm mb-2">Name is required.</div>
    } @else if (name?.touched && name?.errors?.['minlength']) {
    <div class="text-red-600 dark:text-red-200 text-left text-sm mb-2">
      Name must be at least 3 characters.
    </div>
    }

    <!-- Email -->
    <input id="email" autocomplete="on"
      formControlName="email"
      type="email"
      placeholder="Your Email"
      class="h-14 px-4 rounded-lg borderBlack bg-white dark:bg-gray-800 dark:text-white dark:placeholder-gray-400 focus:outline-none focus:ring-2 transition-all"
    />
    @if (email?.touched && email?.errors?.['required']) {
    <div class="text-red-600 dark:text-red-200 text-left text-sm mb-2">Email is required.</div>
    } @else if (email?.touched && email?.errors?.['email']) {
    <div class="text-red-600 dark:text-red-200 text-left text-sm mb-2">
      Enter a valid email address.
    </div>
    }

    <!-- Message -->
    <textarea id="message" autocomplete="on"
      formControlName="message"
      rows="5"
      placeholder="Your Message"
      class="h-52 my-3 rounded-lg borderBlack p-4 bg-white dark:bg-gray-800 dark:text-white dark:placeholder-gray-400 focus:outline-none focus:ring-2 transition-all"
    ></textarea>
    @if (message?.touched && message?.errors?.['required']) {
    <div class="text-red-600 dark:text-red-200 text-left text-sm mb-4">Message is required.</div>
    } @else if (message?.touched && message?.errors?.['minlength']) {
    <div class="text-red-600 dark:text-red-200 text-left text-sm mb-4">
      Message must be at least 10 characters.
    </div>
    }

    <!-- Submit -->
    <button
      type="submit"
      
      class="group flex items-center justify-center gap-2 h-[3rem] w-[8rem] bg-gray-900 text-white rounded-full outline-none transition-all focus:scale-110 hover:scale-110 hover:bg-gray-950 active:scale-105 dark:bg-white dark:bg-opacity-10 disabled:scale-100 disabled:bg-opacity-65 disabled:cursor-not-allowed"
    >
      Submit
      <i
        class="pi pi-send text-xs opacity-70 transition-all group-hover:translate-x-1 group-hover:-translate-y-1"
      ></i>
    </button>
  </form>
</section>
