<section
  class="mb-28 max-w-[45rem] text-center leading-8 sm:mb-40"
  @fadeInAnimation
>
  <h2 class="text-3xl font-medium capitalize mb-4">About Me</h2>
  <p class="mb-4">
    I am a recent graduate with a degree in 
    <span class="font-medium">Software Engineering</span>, driven by a passion for programming and solving real-world problems. My focus is on creating impactful solutions through 
    <span class="font-medium">full-stack web development</span> and integrating 
    <span class="font-medium">AI/ML</span> technologies.
  </p>
  <p class="mb-4">
    My core tech stack includes 
    <span class="font-medium">Angular 18</span> for building modern and responsive frontends, 
    <span class="font-medium">Google Firebase or <span class="font-medium">NestJS</span></span> for robust backend solutions, and 
    <span class="font-medium">Firestore</span> or 
    <span class="font-medium">Supabase PostgreSQL</span> for flexible data management. Additionally, I leverage 
    <span class="font-medium">OpenAI API, </span> <span class="font-medium">LangChain</span> and 
    <span class="font-medium">Google Gemini</span> to craft engaging generative AI experiences.
  </p>
  <p class="mb-2">
    I am also familiar with 
    <span class="font-medium">ASP.NET Core MVC</span> and 
    <span class="font-medium">Web API</span> for building efficient server-side solutions. I am currently seeking a 
    <span class="font-medium">full-time position</span> as a software developer where I can contribute to impactful projects.
  </p>
  <!-- <p class="mb-4">
    I'm also learning and exploring:
  </p>
  <ul class="list-disc text-left font-medium mb-4 mx-auto max-w-[30rem]">
    <li >Classical Machine Learning and Deep Learning (ML/DL)</li>
    <li>Generative AI technologies and applications</li>
    <li>Retrieval-Augmented Generation (RAG) systems</li>
    <li>AI Agents for real-world automation</li>
    <li>Prompt Engineering for optimized AI performance</li>
  </ul> -->
  
  <!-- <p class="mb-4">
    I'm also learning and exploring:
  </p>
  <ul class="space-y-3 text-left mx-auto max-w-[30rem]">
    <li class="flex items-center space-x-3">
      <span class="flex-shrink-0 w-2 h-2 rounded-full bg-gradient-to-r from-purple-600 to-blue-600"></span>
      <span class="text-gray-700 dark:text-gray-300">Classical Machine Learning and Deep Learning (ML/DL)</span>
      <span class="text-gray-700 dark:text-gray-300">Generative AI technologies and applications</span>
      <span class="text-gray-700 dark:text-gray-300">Retrieval-Augmented Generation (RAG) systems</span>
    </li>
  </ul> -->
  <p>
    <span class="italic">When I'm not coding</span>, I enjoy playing video games and watching the NBA (National Basketball Association).
  </p>
</section>
