<section
  class="mb-28 max-w-[45rem] text-center leading-8 sm:mb-40"
  @fadeInAnimation
>
  <h2 class="text-3xl font-medium capitalize mb-8">About Me</h2>
  <p class="mb-3">
    As a recent graduate with a degree in
    <span class="font-medium">Software Engineering</span>, I'm passionate about
    programming and creating impactful solutions. My journey has led me to
    specialize in
    <span class="font-medium">full-stack web development with AI/ML.</span>
    My core tech stack is
    <span class="font-medium"> Angular 18 </span>for the Frontend,
    <span class="font-medium">Google's Firebase</span> for the Backend, and
    <span class="font-medium">Firebase Firestore</span> or
    <span class="font-medium">Supabase PostgreSQL</span> for versatile data
    management and <span class="font-medium">OpenAI API</span> and
    <span class="font-medium">Google Gemini</span> for Gen AI experiences.
  </p>
  <p class="mb-3">
    I am also a bit familiar with
    <span class="font-medium">ASP.NET Core MVC</span> and
    <span class="font-medium">Web API</span> for effecient Server Side Solutions
    <span class="font-medium"> .</span>
    I am currently available for a
    <span class="font-medium">full-time position</span> as a software developer.
  </p>
  <p>
    <span class="italic">When I'm not coding</span>, I enjoy playing video games
    and watching NBA (National Basketball Association).
  </p>
  <!-- <p>I'm also learning new things, like:</p>
  <ul class="font-medium list-disc">
    <li class="text-md">Classical ML/DL</li>
    <li class="text-md">Gen AI</li>
    <li class="text-md">Retrieval Augmented Generation</li>
    <li class="text-md">AI Agents</li>
    <li class="text-md">Prompt Engineering</li>
  </ul> -->
</section>
<!-- before:content-['>']  -->
