<footer class="mb-10 px-4 text-center text-gray-500">
    <small class="mb-2 block text-xs">
        &copy; {{ today | date: "yyyy" }} {{ author() }}. All rights reserved.        
    </small>
    <p class="text-xs">
        <span class="font-semibold">About this website:</span> built with
        Angular 18 (with Angular's Router Outlet), TypeScript, Tailwind CSS, Prime NG, Prime Icons
        Angular Animations, Email.JS, Vercel hosting.
      </p>
      <div class="mt-4">        
        <a href="https://github.com/Talha-Tahir2001" target="_blank" rel="noopener" title="Visit my GitHub profile" class="text-gray-500 hover:text-slate-700 mx-2">
            <i class="pi pi-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/talha-tahir1/" target="_blank" rel="noopener" title="Visit my LinkedIn profile" class="text-gray-500 hover:text-blue-700 mx-2">
            <i class="pi pi-linkedin"></i>
        </a>
        <a href="https://dev.to/talha666tahir" target="_blank" rel="noopener" title="Visit my Dev.to profile" class="text-gray-500 hover:text-blue-700 mx-2">
            <i class="fa-brands fa-dev text-lg"></i>
        </a>
        <a href="https://medium.com/@talha666tahir" target="_blank" rel="noopener" title="Visit my Medium profile" class="text-gray-500 hover:text-blue-700 mx-2">
            <i class="fa-brands fa-medium text-lg"></i>
        </a>
    </div>
</footer>