<section class="px-4 sm:px-8 lg:px-16 py-8">
  <h2 class="text-2xl sm:text-3xl font-medium capitalize mb-6 sm:mb-8 text-center">
    My Experience
  </h2>
  <p-timeline
    [value]="myExperience()"
    [layout]="'vertical'"
    [align]="screenWidth <= 768 ? 'left' : 'alternate'"
    class="max-w-4xl mx-auto w-full"
  >
    <ng-template pTemplate="content" let-event>
      <div class="event-content 
          bg-white dark:bg-gray-800 
          rounded-lg shadow-lg 
          p-3 sm:p-4 my-4
          text-left 
          transition-all 
          hover:shadow-xl
          w-full
          sm:text-base text-sm">
        <h3 class="text-lg sm:text-xl font-semibold text-gray-900 dark:text-gray-50 mb-2">
          {{ event.title }}
        </h3>
        <div class="space-y-2">
          <p class="text-gray-700 dark:text-gray-300">
            <strong class="block sm:inline-block sm:w-20">Location:</strong> 
            <span class="sm:inline block">{{ event.location }}</span>
          </p>
          <div class="text-gray-700 dark:text-gray-300">
            <strong class="block sm:inline-block sm:align-top sm:w-20 mb-1 sm:mb-0">Description:</strong> 
            <ul class="list-disc pl-5 sm:pl-0 sm:inline-block sm:w-[calc(100%-5rem)] mt-2 sm:mt-0 sm:ml-5">
              @for (points of event.description; track $index) {
                <li class="mb-1 sm:mb-2">
                  {{ points }}
                </li>
              }
            </ul>
          </div>
          <p class="text-gray-700 dark:text-gray-300">
            <strong class="block sm:inline-block sm:w-14">Date:</strong> 
            <span class="sm:inline block">{{ event.date }}</span>
          </p>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="marker" let-event>
      <span class="timeline-marker flex items-center justify-center 
          w-6 h-6 sm:w-8 sm:h-8 rounded-full 
          bg-white dark:bg-slate-700 
          shadow-md
          transition-all duration-300 
          hover:scale-110">
        <i [class]="event.icon + ' text-base sm:text-lg text-slate-800 dark:text-white'"></i>
      </span>
    </ng-template>
  </p-timeline>
</section>